{% extends "base.html.twig" %}
{% block content %}
	<section class="thank">
    <h1> Merci pour votre confiance </h1>
    <p>Vous allez recevoir d'ici peu une confirmation de votre commande par mail  </p>
        <p> conserver votre nuémro de commande  {{ id }} </p>
    </section>
{% endblock %}
