{% extends "cart/base.html.twig" %}

{% block banniere %}
	<!-- banniere -->
	<section class="h-flex order-mobile">
		<div class="presentation">
			<div class='title-flex'>
				<div class="trait trait-left">
					<img src=" {{ asset('img/trait.svg') }}" alt="">
				</div>
				<h1 class='h1-presentation'>
					Confirmation de commande
				</h1>
				<div class="trait trait-right">
					<img src=" {{ asset('img/trait.svg') }}" alt="">
				</div>

			</section>
		{% endblock %}
		{% block content %}
			<section class="thank">
				
				<p>
					Vous allez recevoir d'ici peu une confirmation de votre commande par mail
				</p>
				<p>
					conserver votre nuémro de commande <br>
					<strong>{{ orderCode }}</strong>
				</p>
				<p>( l'historique de vos commandes est disponible dans la section Mon Compte )  </p>
			</section>
		{% endblock %}
