{% extends "cart/base.html.twig" %}
{% block content %}
	<section class="thank">
    <h1> Erreur de paiement  </h1>
    <p>Une erreur à était rencontré lors du paiement, veuillez réessayer  </p>
    </section>
{% endblock %}
