{% block contact %}

    <p>Cher {{ contact.nom }}, nous vous confirmons votre commande n° {{ contact.orderCode }}</p>
    <p>Nous vous contacterons trés prochainement afin de vous confirmez la disponibilté de votre commande dans notre dépot.</p>
    <p>Staff Deco, 60 rue Marcel Dassault 93140 Bondy </p>

{% endblock %}