{% extends "base.html.twig" %}
{% block banniere %}
	<!-- banniere -->
	<section class="h-flex">
		<div class="presentation">
			<div class='title-flex'>
				<div class="trait trait-left">
					<img src=" {{ asset('img/trait.svg') }}" alt="">
				</div>
				<h1 class='h1-presentation'>
					Reinitialiser votre Mot de Passe
				</h1>
				<div class="trait trait-right">
					<img src=" {{ asset('img/trait.svg') }}" alt="">
				</div>

			</section>
		{% endblock %}
		{% block content %}
		<p> {{ message }} </p>
			<form action=" {{ path('user_setPass') }} " method="post" >
                <input type="text" placeholder='Votre Mail'  name='mail' >
                <button type="submit" class='btn btn-primary'>Envoyer</button>
            </form>

		{% endblock %}
