{% extends 'base.html.twig' %}


	{% block banniere %}
				<!-- banniere -->
				<section class="h-flex">
					<div class="presentation">
						<div class='title-flex'>
							<div class="trait trait-left">
								<img src=" {{ asset('img/trait.svg') }}" alt="">
							</div>
							<h1 class='h1-presentation'>
								Mon Compte
							</h1>
							<div class="trait trait-right">
								<img src=" {{ asset('img/trait.svg') }}" alt="">
							</div>

						</section>
					{% endblock %}
{% block content %}
	<div class=" user-index">
	<p>
			<a href=" {{ path('app_logout') }} " class="text-history">
				Déconnexion
				<i class="fas fa-history"></i>
			</a>
		</p>

		<p>
			<a href=" {{ path('user_history') }} " class="text-history">
				Historique de mes commandes
				<i class="fas fa-history"></i>
			</a>
		</p>
	</div>

{% endblock %}
